/************** CSS For Request a Form ***************/

h1 {
    text-shadow: 2px 1px whitesmoke;
}

h2 {
    text-shadow: 2px 1px whitesmoke;
}


body {
    background-image: url(assets/images/custom/Background/Minimalist-background.jpg); 
}

#header-form {
    font-weight: 1200;
}

#SectionImage {
    background-image: url(assets/images/custom/Background/Minimalist-background.jpg);
}

.container_form {
    background:rgba(150, 204, 240, 0.13);
    border-radius: 50px;
    padding: 10px;
    border: 5px solid rgb(165, 169, 170);
    text-align: center;
    height: 450px;
    margin: 0 auto;
}

.container_form_Answer {
    background:rgba(150, 204, 240, 0.13);
    border-radius: 50px;
    padding: 10px;
    border: 5px solid rgb(165, 169, 170);
    text-align: center;
    height: 450px;
}

.container_form_extra_fee {
    background:rgba(150, 204, 240, 0.13);
    border-radius: 50px;
    padding: 20px;
    border: 5px solid rgb(165, 169, 170);
    text-align: center;
    height: 240px;
    width: 80%;
    margin: 0 auto;
     
}

.container_answer {
    height: 125px;
    bottom: 0px;    
}

.container_elevator-need {
    height: 100px;
}

