/************** CSS For Request a Form ***************/


.container_form {
    border-radius: 35px;
    padding: 10px;
    border: 5px solid rgb(158, 177, 182);
    text-align: center;
    height: 450px;
    position: relative
}

.container_form_Answer {
    border-radius: 35px;
    padding: 10px;
    border: 5px solid rgb(158, 177, 182);
    text-align: center;
    height: 450px;
    position: relative;
    margin-left: 10px;
}

.container_form_extra_fee {
    border-radius: 35px;
    padding: 10px;
    border: 5px solid rgb(158, 177, 182);
    text-align: center;
    height: 240px;
    width: 840px;
    position: relative;
    margin-left: 10px;
}

.container_answer {
    height: 125px;
    bottom: 0px;    
}

.container_elevator-need {
    height: 100px
}

